[2020-04-05 21:31] av-00 opened #3 "Theme gives error when uploaded to wordpress"
## Describe the bug

When tried to upload this theme to wordpress, it gives an error in `functions.php`. Tried in **localhost**.
## To Reproduce

1. Upload theme in wordpress
2. Activate theme
## Expected behavior

## Screenshots

![IMG-20200404-WA0010](https://user-images.githubusercontent.com/43967251/78510361-41338180-77b2-11ea-8fea-d858fa773315.jpg)

## Desktop (please complete the following i

[2020-04-08 17:48] hugosolar commented on #3
This theme is under development. it's not ready to use. However the error has been fixed

[2020-04-08 17:48] #3 closed

[2020-05-06 18:54] TimidRobot opened #7 "Add HTML Comments around the WordPress HTML we want to use other places"
## Issue Description

Please add HTML Comments around the WordPress HTML we want to use other places. These places include:
- Legalcode files
- ccEngine
- FAQ
- Platform Toolkit

This will allows us to extract the header and footer so that they can be updated automatically based on the live header and footer instead of being edited manually in each project.

## Related Links

*(Please replace this

[2020-05-11 15:36] #7 closed

[2020-06-18 15:15] JackieBinya opened #14 "Update contribute.md"
## Problem

* In [contribute.md](https://github.com/creativecommons/wp-theme-base/blob/master/CONTRIBUTE.md#recommended-setup-for-wordpress-coding-standards)  under the heading **Recommended Setup for WordPress Coding Standards** in item 3 titled **Confirm Installation** the suggested `PATH` will not work with linux Ubuntu 20.04 distribution. Instead this one below works:
``
export PATH="$HOME/.co

[2020-06-25 15:36] hugosolar opened #16 "Script and styles dependencies through the WP API"
Check for WordPress main classes $wp_scripts & $wp_styles to use them in a custom WP-API endpoint. the goal is to gather styles and script dependencies to be available to use on licenses, FAQ and others non-WordPress websites

[2020-06-25 15:54] hugosolar commented on #14
Hey @JackieBinya thank you so much for pointing this out
You're right about the incomplete documentation (still a work in progress)
I'll appreciate your contributions regarding this
Thanks!

[2020-06-29 14:04] bolaram opened #17 "I'm getting error while going to use this theme"
## Description
I'm getting error while going to use this theme
## Reproduction

1. Zip this repo
2. Upload this theme via WordPress dashboard panel
3. Activate the theme
4. See error.

## Expectation
Activate the theme and i can modify based on my preference.

## Screenshots
Fatal error: Class 'Queulat\Metabox' not found
Screenshot : https://prnt.sc/t8ikzv

## Environment

 - Device: Laptop
 - OS:

[2020-07-07 15:40] #16 closed

[2020-07-09 12:39] hugosolar commented on #17
Yes, that error is because [Queulat](https://github.com/felipelavinz/queulat) is a mandatory dependency which has to be installed via [composer](https://getcomposer.org/). We're still working on this theme codebase and its documentation, so I would say it's still a work in progress.
I'm closing this issue

[2020-07-09 12:39] #17 closed

[2020-07-15 14:47] #14 closed

[2020-08-26 16:17] hugosolar opened #21 "Update donate icon in footer button"
The icon in the footer donate button needs to be updated to use the cc-letterheart-filled icon.
Update footer.php and component class if needed

Original Issue: creativecommons/vocabulary#589

[2020-09-02 20:19] #21 closed

[2020-09-16 10:24] JackieBinya opened #26 "Add a linter and code formatter to the docs"
## Problem

Currently, in the docs directory, we do not have a coding standard enforced, so it is difficult to maintain code consistency.

## Description

I want to add the two npm modules [eslint](https://eslint.org/) and [prettier](https://prettier.io/) to the project as well as a script to automate linting and code formatting.

## Alternatives

 - N/A

## Implementation

- [x] I would be intere

[2020-09-16 14:41] JackieBinya opened #29 "Resolve vue-eslint bug in Sidebar component in the docs directory"
## Description

The vue-eslint rule that restricts mixing _vue-for_ and _vue-if_ was broken in the sidebar component.

## Reproduction

1. Check out the docs branch by running the command _git checkout docs_ on your terminal
2. cd to _wp-content/themes/wp-theme-base/docs/src/components/Sidebar.vue_
3. Delete the statement _eslint disable rule_ on line 19
4. On the terminal run the script **npm run

[2020-11-18 21:08] TimidRobot opened #41 "Use php-parallel-lint/php-parallel-lint instead"
## Description
composer gives the following warning:
[code]

## Expectation
 Use php-parallel-lint/php-parallel-lint instead

[2020-11-19 00:32] zackkrida opened #43 "Rename theme and repository"
## Problem

@TimidRobot and I were debugging some composer issues on the new certificate server and noticed a discrepancy between the repo name and the composer metadata. One is `wp-theme-base`, one is `wp-base-theme`:

https://github.com/creativecommons/wp-theme-base/blob/7d35ff4036ff02fa1227660640f4094c52b1f3bc/composer.json#L2

This is a good opportunity to rename the repository to something el

[2020-11-20 16:25] #43 closed

[2020-12-21 23:24] Cronus1007 commented on #26
@JackieBinya  Here we can introduce `husky` pre-commit to automate the repo's formatting and this will make commits and review easy. But the problem that may arise that husky is `npm` module so first we have to initialise this repo with `npm init` since as per my observation code doesn't have a `package.json`

[2020-12-23 23:16] JackieBinya commented on #26
@Cronus1007 please review this link/page and let me know if this is what you are looking for https://github.com/creativecommons/creativecommons-base/blob/docs/docs/package.json

Sorry for a late response its been hectic on my side.

[2020-12-24 08:12] Cronus1007 commented on #26
@JackieBinya  No worries. Yes I am referring https://github.com/creativecommons/creativecommons-base/blob/docs/docs/package.json this only. Also in this issue are you referring bash scripts to automate the process.
So first of all let me write the prettier config files and then build few bash scripts to automate the process of formatting.

[2020-12-24 08:15] Cronus1007 commented on #26
Will soon send a PR fixing this issue. Also you can have a look at the PR https://github.com/creativecommons/creativecommons.github.io-source/pull/584
since I am implementing same in this issue as well .
https://github.com/creativecommons/creativecommons.github.io-source/issues/509

[2021-01-10 14:22] Cronus1007 commented on #29
@JackieBinya  Let me take over this issue and resolve it

[2021-01-10 16:07] JackieBinya commented on #29
@Cronus1007 sure may work on the issue. Let me know if you need any help.

[2021-01-14 13:53] Cronus1007 opened #61 "A preinstall script should be written to signify which package-manager should be used"
## Description
Whenever we do a simple yarn install then bugs are reported while when we do a npm install nos uch bugs are found.
## Reproduction

1. git checkout docs
2. cd docs
3. yarn install
4. gyp error found

## Expectation

## Screenshots

![Screenshot from 2021-01-10 20-17-34](https://user-images.githubusercontent.com/56436023/104599478-d77bc880-569d-11eb-9727-789b6282f74d.png)
## Environm

[2021-01-14 13:53] Cronus1007 commented on #61
@JackieBinya Plzzz have a look at the issue.

[2021-01-14 17:00] Cronus1007 commented on #61
@JackieBinya Here I am not setting up yarn. I am intend to add a `check_packagemanager.sh` preinstall script and while doing yarn install it will display an error to use npm rather than yarn.

[2021-01-17 14:13] JackieBinya commented on #61
Thanks for the explanation @Cronus1007. I am unfamiliar with what I will assume is devops. Let me tag engineers who might be of better help to you.
 @hugosolar and @zackkrida please kindly assist @Cronus1007  resolve this issue, unfortunately it is beyond my scope of knowledge.

[2021-01-19 20:48] Cronus1007 commented on #26
@hugosolar  Lets close this commit then.

[2021-01-20 23:06] Cronus1007 commented on #61
@zackkrida Here what I intend to do is write a _scripts folder with `.sh` scripts to check the package manager.
Yes the thing is quite obvious in this that we should run a `npm install` since it includes `package-lock.json` but when I first went through the codebase I missed it and I ran `yarn install` rather than `npm install` which yeilded `gyp-error`. So what this bash script will do is if anyo

[2021-01-20 23:08] zackkrida commented on #61
HI @Cronus1007 this sounds good. In the future we could standardize this in all of our js projects using npm.

FYI, I've done this before with the following simple scripts. You don't have to do it this way, just an option:

[code]

[2021-01-20 23:10] Cronus1007 commented on #61
@zackkrida  Thanks. Yes I have an experience in writing the bash scripts so it won't be a problem for me .

[2021-01-21 03:42] dhruvkb commented on #61
Personally I'd prefer the `checkyarn` script to be in `npm scripts` rather than a separate bash file.

[2021-01-21 03:53] Cronus1007 commented on #61
@dhruvkb  Okk I will follow the method as prescribed by @zackkrida

[2021-01-28 07:49] Pavankalyan0105 commented on #61
Hi i would like to work on this issue. can anyone please help me to how to get started?

[2021-01-28 08:21] Cronus1007 commented on #61
@Pavankalyan0105  The issue is on the verge of being closed and I have already atttached the PR #62  for solving the issue. But you can have a look at the other issues.

[2021-01-28 08:25] Cronus1007 commented on #29
@JackieBinya  I have already removed  this line of code while working upon #60 PR  so it is now safe to close this issue as well and we can also close #26 issue

[2021-02-01 20:50] zackkrida commented on #61
Fixed via #62

[2021-02-01 20:50] #61 closed

[2021-02-01 21:11] zackkrida commented on #26
Fixed via #60

[2021-02-01 21:11] #26 closed

[2021-02-01 21:12] zackkrida commented on #29
Fixed via #60

[2021-02-01 21:12] #29 closed

[2021-02-01 23:06] #41 closed

[2021-06-22 13:50] annatuma opened #64 "Figure out where source code is for Theme Base documentation"
We want to find the source code for this documentation: https://cc-wp-theme-base.netlify.app/getting-started

We want to ensure the source code is within a CC repository, so that it can be evolved as a developer and/or user guide over time.

## Proposal

Merge the `docs` branch into `main` to make it easier to find the documentation.

[2021-06-22 13:52] annatuma opened #65 "[EPIC] Review Template Designs, Determine Base or Child"
We have completed template designs for all pages on CreativeCommons.org:
https://www.figma.com/file/K6kbDVsx4Zpluhd52yEdDB/Mockups?node-id=1503%3A0

We need to review each of these template designs and determine which ones should be added to the Base theme, and which one to the Child theme for CC.org.

_Note, this issue may be updated to include similar listings for other CC sites under constructi

[2021-06-22 13:56] brylie commented on #64
@JackieBinya, do you recall where you kept the source code for the CC WP Theme Base documentation? Is it in one of the CC repositories?

[2021-06-22 14:02] brylie commented on #64
I found the [blog post by @JackieBinya](https://jackiebinya.github.io/posts/gsod-2020/gsod-report/) where they mention the [documentation source is in a `docs` branch of this repo](https://github.com/creativecommons/creativecommons-base/tree/docs/docs).

[2021-06-23 02:14] JackieBinya commented on #64
Great @brylie. I only saw your message rn. Please let me know if there is anyway I can help.

[2021-06-23 10:13] brylie opened #66 "Rename `master` branch to `main`"
## Description

## Alternatives

We could leave the `master` branch as-is. However, renaming the branch is relatively easy and would be consistent with other repos in the CC org.

- [CC WordPress Plugin](https://github.com/creativecommons/wp-plugin-creativecommons)
- [CC chooser](https://github.com/creativecommons/chooser)
- [CC legaldb](https://github.com/creativecommons/legaldb)
- [CC licenses](

[2021-06-23 10:17] brylie commented on #64
I propose that we merge the `docs` branch into `main` to make it easier to find the documentation :smiley:

[2021-06-23 10:20] JackieBinya commented on #64
@brylie they were supposed to be merged to main. But we held it off for some odd reason. But I guess now is as good a time as any. So yeah sure.

[2021-06-23 10:53] brylie opened #68 "Create and document developer environment"
## Problem

The project does not currently include instructions for setting up a development environment.

## Description

Add some developer "getting started" steps so it is easy to get the project running locally. Further, a Dockerfile and docker-compose.yml can make it as easy as running `docker-compose up` to get started developing.

If it is useful, include a `devcontainer` configuration to r

[2021-06-23 10:57] brylie opened #69 "Consider deprecating Queulat"
## Problem

Remove the project dependency on [Queulat](https://github.com/felipelavinz/queulat).

## Description

The project depends on a WordPress development framework called Queulat. The Queulat framework has some possible shortcomings

- very limited documentation
- limited community contribution
- defining its own conventions
- has broken/abandoned dependencies
    - https://packagist.org/pa

[2021-06-23 10:58] brylie commented on #69
@hugosolar could you share some of your thoughts on the Queulat framework?

[2021-06-23 11:14] brylie opened #70 "Consider moving theme files to `theme/` subdirectory"
## Problem

The repository root is currently cluttered by a mix of theme files and project metadata (editor config, license, code of conduct, etc.).

## Description

Move all theme files to a `theme/` subdirectory. That would make the repository root a bit cleaner and separate metadata from the theme files. Likewise, the `docs/` subdirectory will soon contain theme documentation that we don't want

[2021-06-23 13:14] hugosolar commented on #69
Hello @brylie
I agree about what you're saying. Queulat lacks of documentation, although in my opinion is a good tool for managing forms and metaboxes it saves a lot of time when you're building admin screens.
I think using WordPress itself will increase the development times but it's up to you.

I'd recommend this plugin instead

- [Fieldmanager](https://github.com/alleyinteractive/wordpress-fiel

[2021-06-23 14:59] brylie commented on #69
It's just strange to me that basic form building isn't part of WordPress core. Forms seem like a major component. The lack of simple form building has led to a fragmented ecosystem of projects trying to provide that functionality.

[2021-06-23 15:16] brylie opened #71 "Move documentation from Netlify to GitHub pages"
## Problem

We would like to unify our static documentation deployment to use GitHub Pages.

## Description

This project is currently configured to be deployed by Netlify. We would like to use fewer tools related to documentation deployment and want to use GitHub Pages as the primary solution.

[2021-06-24 07:03] #64 closed

[2021-06-24 16:21] #68 closed

[2021-06-24 16:24] brylie opened #73 "Install Composer within development container"
## Problem

Developers currently need to have Composer installed globally on their computers in order to develop this theme.

## Description

Installing Composer within the development container would mean fewer development dependencies. Further, the containerized Composer could install the composer dependencies automatically at build time.

Determine how to install Composer within the development

[2021-06-24 16:25] brylie opened #74 "Use MariaDB in development container"
## Problem

The development container currently uses MySQL. However, our production systems tend to use MariaDB.

## Description

Change the `db` layer in the `docker-compose.yml` to use MariaDB image. Make sure the WordPress layer can still connect to the database.

[2021-06-25 12:53] hugosolar commented on #69
I'd tend to agree with your opinion, I feel like WordPress lacks so many things. Although, some of the functionality made by Queulat in this theme can be moved to something more related to the WordPress core for instance Gutenberg blocks (which made the editor work so much easy) or maybe something like shortcodes (thinking in the classic editor which will be supported for another year I think)

[2021-06-25 17:55] alainseys commented on #73
You can place your development envrioment in a docker image there you can give the command to install composer and any other requirements. The only drawback to this is when you need to run a composer command you need to connect in to the container and perform the command there.

[2021-06-28 12:12] brylie commented on #73
@alainseys do you know of a simple `Dockerfile` example that extends `wordpress:latest` and installs Composer in the development environment?

The only examples I have found include convoluted steps, use a different base image/WP project structure, or have an entry point script that is barely intelligible. I'm trying to keep the development process as clear and simple as is possible.

[2021-06-28 12:19] alainseys commented on #73
Hy @brylie a wordpress:latest i need to check what i alway do i make seperate containers and if its required they can talk to eachother.

eg:
- nginx
- mysql
- wordpress
- phpmyadmin
- composer

phpmyadmin -> mysql
composer -> wordpress

i will dig in the image of wordpress, alternative you can send a command when the containers boots up to download composer and install it globaly.

[2021-06-28 12:31] brylie commented on #73
Thanks, @alainseys!

For what it's worth, the `docker-compose.yml` already has the basic pieces needed such as phpMyAdmin and `wp-cli`, while the 'wordpress:latest` handles web server configuration. So, I hope to keep the configuration to a minimum by only installing the missing Composer dependency, if possible.

[2021-06-28 12:42] alainseys commented on #73
@brylie

try by adding the following code to your docker-compose file (i added the paths from your docker-compose.yml file, just check them if they are correct)

bring the container up with the rebuild command this should add [composer](https://hub.docker.com/_/composer?tab=tags)
[code]

[2021-06-28 12:59] brylie commented on #73
@alainseys, I get an error:

[2021-06-28 13:00] brylie commented on #73
It would seem counter-intuitive that I would need to hard-code an absolute path in a multi-user development file.

[2021-06-28 13:03] brylie commented on #73
It runs correctly when I change to `working_dir: /var/www/html`

[2021-06-28 13:07] brylie commented on #73
I also need to add the `command: sh -c "composer install"` to the docker-compose composer service definition.

[2021-06-28 13:26] alainseys commented on #73
you can supress this in a seperate docker file in your build process there you can give the run command (``RUN sh -c "composer install ``)

[2021-06-28 13:26] brylie opened #76 "Incompatible packages in composer.json"
Split from PR #75

Related issue: #69 (due to abandoned dependency causing error below)

I am unable to install the package dependencies in composer.json due to incompatibilities.

[code]

## Reproduction

1. run `composer install`
2. see error

## Expectation

Project dependencies would install correctly without conflict.

## Environment

 - Device: laptop
 - OS: Ubuntu 20.04

## Notes

- The [of

[2021-06-28 13:30] brylie commented on #73
OK, thanks. For now, the `docker-compose.yml` is sufficient for all of the dependencies without the need to define any Dockerfile. See PR: #75

[2021-06-28 15:10] #73 closed

[2021-06-28 17:55] brylie commented on #69
I moved this to the active sprint, since I am currently researching to what extent Queulat is being used by themes.

[2021-06-28 18:00] brylie opened #77 "Add list of websites that use creativecommons-base as their base theme"
## Problem

We don't currently have a list of CC websites that use creativecommons-base as a base theme.

## Description

Add a list of all CC websites that use creativecommons-base as a base theme to the project README

## WIP table

The following table shows Creative Commons WordPress projects and indicates whether the theme inherits from `creativecommons-base`. The table will be used as the bas

[2021-06-29 11:16] brylie commented on #77
@TimidRobot on initial audit, it seems that only `certificate` and `wp-theme-creativecommons.org` inherit from `creativecommons-base`. Would you and perhaps @hugosolar mind peer-reviewing the table above to make sure I didn't make any mistakes or overlook any projects that might inherit from `creativecommons-base`?

[2021-06-30 09:53] brylie commented on #77
The table above may be missing some information. For example, when logged in to the [Global Summit website](https://summit.creativecommons.org/) and viewing the Theme settings, it says the Global Summit theme inherits from `creativecommons-base`:

![image](https://user-images.githubusercontent.com/17307/123940484-e59a7880-d9a1-11eb-92b4-d0c196b6c835.png)

So, I'm trying to figure out
- where is th

[2021-06-30 09:53] brylie commented on #77
Re-opening issue since it is still under investigation.

[2021-06-30 13:56] hugosolar commented on #77
@brylie the sites currently using the creativecommons-base are
- New certificate website
- new version creativecommons.org (still on staging?)
- Summit
- New Global network

[2021-06-30 13:57] brylie commented on #77
Thanks, @hugosolar! I'll update the list and README. For reference, how can I quickly determine when these sites inherit from `creativecommons-base`?

[2021-06-30 14:05] hugosolar commented on #77
there isn't a `composer.json` but that would be a great idea to add or maybe there's a better approach to handle this like considering adding the whole `wp-content` in the repository and manage the dependencies (plugins and themes) with a `composer.json` in the root of the folder, that's the way it's managed in the WordPress VIP platform and it works very well

[2021-06-30 14:15] brylie commented on #77
OK, I just read in the WordPress Child Themes documentation that it is required for child themes to define their base template in `style.css`. So, I'll look for examples of `creativecommons-base` in the `style.css` for our other WordPress themes.

https://github.com/creativecommons/wp-theme-summit/blob/d02892426d2f89c0561c9d87acd44783468a6795/style.css#L7

[2021-06-30 14:21] brylie commented on #77
That sounds like an interesting way to manage WordPress *projects*. Themes and plugins probably don't need that level of orchestration.

[2021-06-30 14:54] hugosolar commented on #77
agreed

[2021-06-30 15:05] brylie commented on #77
Thanks for your help  @hugosolar :smiley:

[2021-06-30 22:23] alainseys commented on #74
What version of mariadb are you using?

[2021-07-01 10:53] alainseys commented on #74
see PR #80

[2021-07-01 10:57] alainseys commented on #76
hy @brylie  you can try using a other wordpress tag with a newer version of php [here](https://github.com/docker-library/wordpress/blob/cdb836237e3af7bfd011957316f159c1e81bf29c/latest/php7.3/apache/Dockerfile) is a sugestion

[2021-07-01 11:27] brylie commented on #74
@alainseys thank you so much! You rock :smiley:

[2021-07-01 12:36] brylie commented on #76
@alainseys What are your thoughts on the error messages?

From what I can understand, it seems like the Composer image is using an internal version of PHP 8 when invoking the `composer install` command. Then, the installation fails since the `doctrine/inflector` package is not marked as compatible with PHP 8. I added a note in the issue description about the official Composer image using PHP 8.

T

[2021-07-01 15:43] alainseys commented on #76
doctorine have some issues if the version of php is been switched see [here](https://github.com/doctrine/inflector/issues/52) for some ref

[2021-07-02 12:35] brylie commented on #74
Closed bby #80

[2021-07-02 12:35] #74 closed

[2021-07-02 12:54] brylie opened #82 "2021 July release"
We have a small bugfix release prepared and need to deploy those changes to production.

[2021-07-02 13:49] brylie opened #84 "Upgrade and clean up Composer dependencies"
## Problem

Not only do we have some dependency conflicts (#76), we also have some warnings about abandoned dependencies:

[code]

## Description

Determine how best to upgrade and clean our project dependencies.

[2021-07-02 13:55] brylie opened #85 "Queulat does not seem to install"
## Description

Our `composer.json` contains a requirement for `felipelavinz/queulat`.

https://github.com/creativecommons/creativecommons-base/blob/1ca33ae3525fa7d789148e1030dd69ecfaaf5d0e/composer.json#L23-L25

Under the `repositories` section, we have configured a fork of the `queulat` package.

https://github.com/creativecommons/creativecommons-base/blob/1ca33ae3525fa7d789148e1030dd69ecfaaf5d0

[2021-07-02 13:56] brylie commented on #85
@hugosolar does the `composer.json` file seem to be configured correctly from your perspective?

[2021-07-02 14:01] hugosolar commented on #85
@brylie as far as I remember, we make a fork of Queulat since the original repo does not have a release yet, that's why `creativecommons/queulat` should be the repo to use on composer. I don't remember having any particular issues by installing `creativecommon-base` I can take a look in a minute

[2021-07-02 14:05] brylie commented on #85
OK, thanks @hugosolar

For context, I'm using our [Docker-based development environment](https://github.com/creativecommons/creativecommons-base/tree/main/development to run WordPress with the `creativecommons-base` theme. There is a line in the `docker-compose.yml` that creates a volume to link the repository root with the `wp-content/themes/creativecommons-base/` directory inside the image.

htt

[2021-07-02 14:12] hugosolar commented on #85
yes, and then you need to use that path to `vendor/autoload.php` on `mu-plugin/Queulat.php`
take a look at this : https://github.com/felipelavinz/queulat#loading-queulat-as-mu-plugin

[2021-07-02 14:13] hugosolar commented on #84
Is that a Queulat dependency? if it is I'd say changing Queulat is urgent 😮

[2021-07-02 14:43] #82 closed

[2021-07-04 18:38] alainseys commented on #66
@brylie seems like that the master branch is alredy renamed to main, please verify if this is correct

[2021-07-04 18:42] alainseys commented on #71
@brylie you can assig this to me let me also know where i can find the current documentation

[2021-07-05 09:51] brylie commented on #66
@alainseys correctamundo. I forgot to close this issue. Thanks again for helping keep the backlog on track :smiley:

[2021-07-05 09:51] #66 closed

[2021-07-05 09:59] brylie opened #87 "Re-define `Post_Metabox` using conventional WordPress code"
## Problem

The `Post_Metabox` is currently defined using the `Queulat` package.

https://github.com/creativecommons/creativecommons-base/blob/39e72523afed695b4934f5cb131b14182e684345/inc/metaboxes.php#L8

Since we have [established a consensus to deprecate the Queulat package](https://github.com/creativecommons/creativecommons-base/issues/69, we need to re-create the `Post_Metabox` using [convent

[2021-07-05 10:38] brylie commented on #71
Thanks, @alainseys! The docs are currently in the [`docs`](https://github.com/creativecommons/creativecommons-base/tree/main/docs) folder in the project root. Please let me know if you need any specific access to configure the repository.

[2021-07-05 11:20] alainseys commented on #71
any addional information is welcome i will take a look at this tonight

[2021-07-05 15:42] brylie commented on #71
One opinion I have is that we should only keep the documentation "sourcecode" under revision control, i.e. the markdown files and anything else needed to build the project. Contrast the "sourcecode" with the rendered output, which is basically all the HTML, CSS, and possibly JavaScript needed to serve the documentation. I'm pretty sure that we should be able to figure out a way to have a tool buil

[2021-07-05 15:43] brylie commented on #71
Also, I'm _considering_ switching the documentation project to use the VuePress static documentation build tool-- just in case that info makes it any easier to resolve this task. VuePress seems more geared towards static documentation, which is what we are serving here.

[2021-07-05 21:15] alainseys commented on #71
@brylie just verifyng here i looked in the docs folder the only content pages are a page of 6 witch i have found [here](https://github.com/creativecommons/creativecommons-base/tree/main/docs/content)

besides these files there are no any addional documentation pages can you verify this if my setting is correct ?

[2021-07-06 06:51] brylie commented on #71
Yes, there are only a few docs source files in markdown format.

[2021-07-06 18:10] brylie opened #93 "Move or copy development environment/instructions to project_creativecommons.org repo"
## Problem

We have agreed to create an "umbrella" project to combine WordPress themes/plugins related to the creativecommons.org project. The new project repository will primarily consist, at first, of development instructions and environment.

## Description

Move or duplicate the developer environment/instructions from this project to the new [creativecommons/project_creativecommons.org](https:

[2021-07-06 18:11] brylie commented on #93
@alainseys would it be alright for us to move/copy your Docker/development-related contributions to a new, MIT-licensed project?

- [creativecommons/project_creativecommons.org](https://github.com/creativecommons/project_creativecommons.org)

[2021-07-06 20:01] alainseys commented on #93
Hy @brylie  yes i would recommend this since this is covering a very specefic setup like docker

[2021-07-06 20:29] alainseys commented on #93
i would also recomend some github actions so the docker image can be tested on the github side i looked this up you have 2000 minutes a month on the free plan.

more details about the billing you can find [here](https://docs.github.com/en/billing/managing-billing-for-github-actions/about-billing-for-github-actions)

you can automate the build process after a approved PR or you can set this to manu

[2021-07-06 20:41] alainseys commented on #71
Hy @brylie i have taken a look to porting to github pages this is pretty easy you can set in your project to use Pages , you set the repo to use this.

and github will ask were the documentation is located the rest is adding a  simple markdown document i have added in PR #94 and github pages will read this out ( the url of your github pages will be visible in your account).

[2021-07-07 11:35] brylie opened #95 "RFC: Use Gutenberg editor instead of custom post templates"
## Problem

This project currently defines come custom post behavior for video and gallery posts. In order to define some of the custom post functionality, we use the Queulat project, which we have agreed to deprecate (#69). The project roadmap has now shifted to focus on replacing functionality built with Queulat.

## Description

Rather than re-create a custom-code solution for video and gallery

[2021-07-07 12:01] #71 closed

[2021-07-07 12:22] brylie opened #96 "Cleanup `/docs` folder after switching to GitHub pages"
## Problem

We recently switched to using GitHub pages for hosting static documentation for this project. Now that GitHub pages is enabled, there are a few minor housekeeping and bug fixing tasks.

## Description

We want to preserve all content from the previous Gridsome project while removing any Gridsome-specific boilerplate/configuration.

- [x] configure project to use [Just the Docs](https:/

[2021-07-07 12:50] annatuma commented on #95
In general, I like this idea, but we need to work with Comms to ensure design consistency with posts, whether they are pre-templated or created using Gutenberg. At its simplest, this could take the form of dummy, unpublished posts that content editors can copy, so that they are, essentially, a template for them to fill in the blanks of.

Let's also keep this in mind when it comes to creating page

[2021-07-07 13:33] brylie commented on #95
@annatuma, good suggestion. It sounds like [Gutenberg block templates](https://developer.wordpress.org/block-editor/reference-guides/block-api/block-templates/) might serve the purpose you describe.

[2021-07-08 08:59] brylie commented on #96
@alainseys I've added this issue based on your work in issue #94. What else would you recommend including in the cleanup checklist?

[2021-07-08 09:43] brylie opened #97 "Use GitHub actions to test changes in Docker images"
Split from #93

@alainseys made the excellent recommendation that we use GitHub actions to test our Docker images. GitHub actions can be triggered by pull requests and can be used as part of the approval process.

We have 2000 minutes a month on the free plan, with additional minutes billed as described on the [GitHub billing page](https://docs.github.com/en/billing/managing-billing-for-github-act

[2021-07-08 09:46] alainseys commented on #97
@brylie  if you have a github worker running on a vm on a cloud machine you also have some additional minutes extra you can easy setup this on digital ocean or even on a tradional hoster like hetzner , if interested i can setup this.(github actions and or the worker)

[2021-07-08 18:09] alainseys commented on #97
Hy @brylie  i have done this in the following  pr #98 this is extenable to even pull request now i have created this on git push trigger.

[2021-07-08 18:34] alainseys commented on #93
@brylie create a PR for this see the projects pull [request](https://github.com/creativecommons/project_creativecommons.org/pull/1)

[2021-07-09 14:51] brylie commented on #95
@annatuma, for the next iteration, I propose we test out the Gutenberg editor. We would work to ensure that Gutenberg rendered output follows the spirit of the Figma designs. Only if absolutely needed would we add any custom code, such as the Gutenberg block templates. :smiley:

We may have started down the current development path by a) taking the design ideas as literal (waterfall-style) outcome

[2021-07-09 17:03] #96 closed

[2021-07-09 19:29] kgodey commented on #97
GitHub Actions is actually free for public repositories; there's no 2000 minute limit.

[2021-07-12 16:29] #97 closed

[2021-07-18 14:35] apisTrg93 opened #101 "[Bug] <Replace this with actual title>"
## Description

## Reproduction

1.
2.
3.
4. See error.

## Expectation

## Screenshots

## Environment

 - Device: (_eg._ iPhone Xs; laptop)
 - OS: (_eg._ iOS 13.5; Fedora 32)
 - Browser: (_eg._ Safari; Firefox)
 - Version: (_eg._ 13; 73)
 - Other info: (_eg._ display resolution, ease-of-access settings)

## Additional context

## Resolution

- [ ] I would be interested in resolving this bug.

[2021-07-18 14:36] apisTrg93 commented on #101
Assalamualaikum wbt selamat 🌃

[2021-07-19 09:44] brylie commented on #101
Closing this issue as it doesn't contain any information.

[2021-07-19 09:44] #101 closed

[2021-07-23 12:45] brylie opened #103 "Replace `link:` with user-defined networking in docker-compose.yml"
## Problem

Our `docker-compose.yml` currently uses a deprecated `link` definition to allow for inter-container communication.

## Description

Replace the `link` with a user-defined network configuration in our `docker-compose.yml`.

[2021-07-23 12:49] brylie opened #104 "Determine how to create full-width blocks with Gutenberg editor"
## Problem

In an effort to make this project more generic while aligning with the WordPress core development, we are switching to the use of Gutenberg blocks for content/layout.

Our design mock-ups contain several sections that span the full page width while having a custom background color to distinguish the section.

## Description

Determine how to create full-width page blocks with the Guten

[2021-07-23 13:04] brylie opened #105 "RFC: switch "featured content" and "donate" features to be generic WordPress block areas"
## Problem

The `creativecommons-base` theme currently defines theme configuration forms and templates for two specific components:
- featured conetent
- donation appeal

However, the hard-coded nature of these templates may be inflexible while introducing a maintenance burden to the project.

## Description

Consider creating two generic theme block areas, such as `below_header` and `above_footer

[2021-07-23 13:22] #95 closed

[2021-07-23 13:22] #69 closed

[2021-07-23 13:22] #76 closed

[2021-07-23 13:22] #84 closed

[2021-07-23 13:22] #85 closed

[2021-07-23 14:52] brylie opened #106 "RFC: Replace hard-coded footer with generic, block-based widget area"
## Problem

The footer area currently contains hard-coded structure and information including:
- social media links
- contact information/address
- copyright notice

## Description

Rather than hard-coding that information, consider allowing content editors to use generic WordPress blocks to structure the page footer. This could open up possibilities to not only changing the content but also the l

[2021-07-23 15:43] brylie commented on #104
After a quick experiment today, it seems that the Transifex WordPress plugin works fairly well. There will be some localization process issues we need to iron out through training/documentation. In general, I feel confident about adopting the Gutenberg editor and aligning the project localization efforts with our current use of Transifex.

![image](https://user-images.githubusercontent.com/17307/1

[2021-07-25 09:36] annatuma commented on #106
I appreciate the desire to implement the footer in such a way as to be more flexible for editors, but I'd like us to think about if there's a way to ensure that the basics remain the same. A major goal with both the global (expandable) header and global footer was to ensure brand/information/experience consistency across all CC web properties. This is something that doesn't currently exist and con

[2021-07-25 10:56] alainseys commented on #103
see my PR #107 where i have created a new network.

[2021-07-28 12:19] alainseys opened #108 "[Feature] Add Letencrypt to the docker container"
## Problem
I have noticed that there is no ssl present in the docker container

## Description
By adding a ssl layer in the docker you can test the full enviroment the closest to the production system.

[2021-07-28 12:21] alainseys opened #109 "[Feature] Add Mailhog to docker"
## Problem
To test out emails it is also recomended to add a system like mailhog so you read the email on our local development instance without actual sending email by an outgoing smtp server.

Then you you the internal sendmail protocol to send it locally

## Resources

- [What is MailHog and why may you need it?](https://mailtrap.io/blog/mailhog-explained/)

[2021-08-02 09:52] alainseys commented on #103
@brylie is there a adjustment needed ?

[2021-08-02 09:54] brylie commented on #103
@alainseys the PR looks good. I just returned from holiday, so am just now catching up on GitHub and email. I'll run the PR ASAP.

[2021-08-02 10:30] #103 closed

[2021-08-02 10:31] brylie commented on #103
@alainseys thanks! The PR looks great :sunglasses:

[2021-08-02 10:35] brylie commented on #108
Currently, we are only using Docker for a local theme development environment. This base theme isn't deployed directly to any server but is rather included in other WordPress projects like project_creativecommons.org.

It would probably be a good place to add LetsEncrypt to a `production` or `staging` docker image in the `project_creativecommons.org`.

[2021-08-02 10:37] brylie commented on #106
That makes sense. Perhaps some generic widgets can be used in a footer widget area while preserving the consistent layout for primary elements like social media icons and contact info.

[2021-08-02 11:51] alainseys commented on #109
this one should prob also moved to the [docker ]( https://github.com/creativecommons/project_creativecommons.org)repo , can also be assigned to me

[2021-08-02 20:53] alainseys commented on #109
you can review this in #110

[2021-08-03 09:49] brylie opened #111 "Review CoBlocks project for affinity with CC design library"
## Problem

We may need to define custom Gutenberg blocks for some of the desired design elements from our [Figma mockups](https://www.figma.com/file/K6kbDVsx4Zpluhd52yEdDB/Mockups?node-id=1503%3A0). In that case, we may need inspiration or code from other open-source Gutenberg block libraries. One such library is the CoBlocks project, which is fully open-source (no "pro" or "VIP" version.)

## De

[2021-08-03 10:03] brylie opened #112 "[Epic] test capability of Gutenberg editor to create pages from our Figma mockups"
## Problem

Our [Figma mockups for creativecommons.org](https://www.figma.com/file/K6kbDVsx4Zpluhd52yEdDB/Mockups?node-id=1503%3A0) contain several specific content pages. We want to test the ability of the Gutenberg editor to create those pages as well as identify any shortcomings.

## Description

Develop each primary page in the creativecommons.org Figma mockups with the Gutenberg editor (defau

[2021-08-03 10:04] brylie opened #113 "Home (Gutenberg editor test)"

[2021-08-03 10:04] brylie opened #114 "Program (Gutenberg editor test)"

[2021-08-03 10:04] brylie opened #115 "Project (Gutenberg editor test)"

[2021-08-03 10:04] brylie opened #116 "About CC (Gutenberg editor test)"

[2021-08-03 10:04] brylie opened #117 "Strategy (Gutenberg editor test)"

[2021-08-03 10:05] brylie opened #118 "CC Licenses (Gutenberg editor test)"

[2021-08-03 10:05] brylie opened #119 "Team (Gutenberg editor test)"

[2021-08-03 10:05] brylie opened #120 "Profile (Gutenberg editor test)"

[2021-08-03 10:05] brylie opened #121 "Default page (Gutenberg editor test)"

[2021-08-03 10:05] brylie opened #122 "FAQ (Gutenberg editor test)"

[2021-08-03 10:05] brylie opened #123 "20A (Gutenberg editor test)"

[2021-08-03 10:05] brylie opened #124 "Case statement (Gutenberg editor test)"

[2021-08-03 10:05] brylie opened #125 "News (Gutenberg editor test)"

[2021-08-03 10:05] brylie opened #126 "News page 2 (Gutenberg editor test)"

[2021-08-03 10:05] brylie opened #127 "Category: Policy (Gutenberg editor test)"

[2021-08-03 10:05] brylie opened #128 "Blog post (Gutenberg editor test)"

[2021-08-03 10:05] brylie opened #129 "Support us (Gutenberg editor test)"

[2021-08-03 10:29] brylie commented on #112
@alainseys, here is the Gutenberg theme development "epic" I mentioned in #110. I will add specific links and details to the child tasks (using a common template) soon, but most of the salient information is contained in the description above.

[2021-08-04 13:09] brylie opened #130 "Allow Gutenberg to control layout of content area"
## Problem

Our theme currently has a hard-coded layout for the page content area, whereby the layout is specified in columns with column width. For example, there is a sidebar of three columns and a content area of eight columns. The hard-coded layout means that Gutenberg content cannot display full-width.

## Description

Remove hard-coded columns in page content areas so that Gutenberg can be u

[2021-08-04 15:34] brylie opened #131 "Deprecate Home Layout"
## Problem

Now that we intend to use Gutenberg for page layout, including the Home page, we can deprecate the static Home Layout.

## Description

Remove code/features related to Home Layout:

- `home-page.php`
- `/inc/partials/home/*`
- possibly theme configurations such as `cc_base_enable_featured_content` used in `home_featured.php`

[2021-08-04 15:53] brylie opened #132 "Sidebar/page list as Gutenberg widget"
## Problem

Our default layout currently displays a sidebar. The sidebar renders a page list where the pages are children of the parent:

https://github.com/creativecommons/creativecommons-base/blob/f49ec2ac4412e3c6abc87f78eea44942dcd22fd1/page.php#L18-L36

However, having the sidebar doesn't allow Gutenberg blocks to display full-width.

## Description

Determine how best to handle the sidebar me

[2021-08-04 15:56] brylie opened #133 "Define list of default colors for Gutenberg layout widgets"
## Problem

WordPress allows developers to [specify a default color palette](https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-support/#block-color-palettes) that is used for background and text color select widgets.

## Description

Add the CC brand colors as a default color palette for Gutenberg blocks.

[2021-08-05 07:48] brylie opened #135 "Change default layout to allow Gutenberg full-width (no sidebar)"
## Problem

We are enabling Gutenberg to control page layout as part of #130

## Description

Consider making the Gutenberg full-width template the default. The current default layout contains a sidebar, which may be deprecated in #132

- rename the `page.php` to `template-sidebar.php`
    - consider adding grid classes again to control the layout
- rename `template-no-sidebar.php` to `page.php`

[2021-08-05 14:26] alainseys commented on #135
hy @brylie is there a how to described how we can test this out? i have the changes ready on my local dev enviroment not sure how to test this out

[2021-08-05 15:12] alainseys opened #137 "Add Slack button to README"
## Description
would it not be intresting to add a slack channel to github so we can chat while working on issues ?

Add a Slack button to the project README that links to our Slack sign up page:

https://slack-signup.creativecommons.org/

![slack sign up button](https://camo.githubusercontent.com/fd2c87932477b197ddaebe65b96c27e5cb2b7361bdbf3036352df344369f041e/68747470733a2f2f636c6475702e636f6d2f

[2021-08-05 16:03] brylie commented on #135
The developer docs can probably use some improvement. Basically,

1. run the development stack with `docker-compose up`
2. enable the creativecommons-base theme (using admin user created during installation)
3. create/publish a new page
4. view the page via the "view page" link
5. inspect the markup with dev tools (F12) to make sure the correct template rendered (no sidebar)

[2021-08-05 16:21] alainseys commented on #135
OK I will test the code with these instructions

[2021-08-05 19:31] alainseys commented on #135
just reviewed the PR #136 and no sidebar is applied

[2021-08-06 14:32] #130 closed

[2021-08-06 14:47] #135 closed

[2021-08-06 14:53] brylie commented on #137
Feel free to join our Slack community: https://slack-signup.creativecommons.org/

I'm available on Slack throughout the day, and will gladly chat about all things open-source :-)

[2021-08-06 14:55] brylie commented on #137
@alainseys I've changed this to be a task to add a Slack button to the README so other developers can join the discussion. Would you like to add the Slack button?

[2021-08-06 20:47] alainseys commented on #137
this is performed hopefully you like the button and the text i have added

[2021-08-06 20:48] #109 closed

[2021-08-17 10:38] #137 closed

[2021-08-18 11:19] brylie commented on #113
Initial progress on home page:

![Homepage_20210818_141610](https://user-images.githubusercontent.com/17307/129888950-46953a2d-d584-4956-824e-993a2e143d98.png)

Notes:

- Page title is rendered in the template and via a Gutenberg "post title" block (all WordPress pages require a title)
- we may want to make a template variant that doesn't render the page title, so Gutenberg "post title" block can

[2021-08-18 19:02] alainseys commented on #131
@brylie  i will work on this one the upcomming week

[2021-08-19 08:41] brylie commented on #131
OK, thanks @alainseys. Would you like to have a video call to discuss the status/roadmap of the theme transition to Gutenberg?

Relatedly, I've been building out the Home Page layout using Gutenberg (#113) and can discuss what I have found so far as it relates to this task.

[2021-08-19 09:57] brylie commented on #113
When I change the "learn more" button CSS classes to use Bulma button semantics, the button doesn't render as expected:

![Peek 2021-08-19 12-52](https://user-images.githubusercontent.com/17307/130048351-84392bfe-e53c-45bb-8407-3063151b949c.gif)

The button classes seem to be added to a containing `div` rather than the `a` tag itself:

[code]

![Peek 2021-08-19 12-56](https://user-images.githubuse

[2021-08-19 10:02] brylie commented on #113
Another (last resort) option for the button is to input custom HTML:

![image](https://user-images.githubusercontent.com/17307/130049697-e70aa239-7509-498c-9721-ce1ffb5892cd.png)

![image](https://user-images.githubusercontent.com/17307/130049791-317ee919-9757-46ce-aa74-5cf3cb883cae.png)

[2021-08-19 10:03] brylie commented on #113
However, the need to add "call to action" buttons might be a good use case for a custom Gutenberg "button" widget.

[2021-08-19 10:09] alainseys commented on #131
Depending on the timezone you are in we can do this I am from Belgium so the time zone is CEST

@brylie

[2021-08-20 12:41] brylie commented on #113
There is an upstream issue about adding classes directly to button anchor tags as opposed to the container div:

https://github.com/WordPress/gutenberg/issues/28444

[2021-08-20 12:53] brylie opened #139 "Determine how best to let content editors insert buttons adhering to CC styleguide"
## Problem

Several of the pages in our Figma mockups contain buttons, such as the "donate" call-to-action on the Home page. Content editors need a simple way of adding buttons that adhere to the CC styleguide.

## Description

- determine what options we have for allowing content editors to add/edit buttons via Gutenberg
- identify trade-offs with various solutions
- choose a solution
- optionall

[2021-08-20 12:55] brylie commented on #139
A few of primary approaches come to mind:

- Gutenberg default button block
- custom Gutenberg button block
- Gutenberg raw HTML block

Trade-offs

- default Gutenberg button block has limited theme configuration, primarily allowing colors to be changed but not shape
- a custom Gutenberg block would take more development time or add a dependency to this project
- raw HTML is not ideal for content

[2021-08-20 13:14] brylie commented on #113
It is relatively easy to build the second segment of the home page, using the following Gutenberg blocks

- heading
- paragraph
- columns
- image (4x)

The editing interface:

![image](https://user-images.githubusercontent.com/17307/130238513-9408e014-b236-47f3-bfaa-dc837daade54.png)

The output is below:

![image](https://user-images.githubusercontent.com/17307/130238407-4cc34a67-ea55-4730-b814-f

[2021-08-20 13:25] brylie commented on #113
There is a global rule in our `style.css` that makes all `h2`, and some other, elements grey:

![Peek 2021-08-20 16-23](https://user-images.githubusercontent.com/17307/130239932-ce0f2aa6-3d23-4fa4-adc7-2020e979775e.gif)

We can consider removing the strict color rule and allowing color to be defined via the Gutenberg editor. In the case where we want a global color to be applied, we can use a clas

[2021-08-24 08:04] brylie commented on #113
While creating a row of images, using the Gutenberg columns block, I noticed that the columns block does not contain padding _unless_ there is a background image selected:

![Peek 2021-08-24 11-02](https://user-images.githubusercontent.com/17307/130580047-5edf7295-150b-4f4d-9fc3-979a050dd4dc.gif)

I believe this should be an upstream issue with Gutenberg, as the background color should be decouple

[2021-08-24 08:20] brylie commented on #113
## Mockup

![image](https://user-images.githubusercontent.com/17307/130581659-4148d046-4b3e-4e5b-9027-f09ab9110cd5.png)

The third section of the Figma mockup displays three center-aligned columns, each containing:

- image
- paragraph
- text (large and bold)

## Gutenberg test

Gutenberg supports the above layout, but doesn't provide a way to change text size (other than adding a header, which is

[2021-08-24 12:01] brylie opened #140 "Determine whether default page template should have hard-coded heading"
## Problem

By default, WordPress pages have a title. Typically, the page title is hard-coded into the template to define the desired layout. However, the Gutenberg editor also has a "post title" block that allows the content editor to control the placement of the page title. In some cases, we may want to have a pre-defined placement for the page heading, but in others, such as the Home Page, we w

[2021-08-24 12:25] brylie commented on #119
The Team page should be automatically populated with content from a custom content type (e.g. team member). The custom content type may exist in the existing creativecommons.org website/project.

[2021-08-24 12:27] brylie commented on #120
@annatuma mentions that the Profile page should be automatically populated with content from a custom content type (e.g. user profiles). The user profiles already exist in the existing creativecommons.org website/project.

[2021-08-24 13:20] brylie commented on #128
@annatuma mentions that we want to give editors flexibility when creating blog posts with Gutenberg but we also want to make their work easier by providing pre-configured block "templates". E.g. all the primary elements found in a common blog post to promote consistency across blog articles.

[2021-08-24 13:33] brylie commented on #113
RE: call-to-action buttons

@annatuma suggests we try to shadow the default WordPress button class names so they take on the Bulma/WordPress theme. Otherwise, we are alright to use the default, rounded Gutenberg button styles. Also, try to create a button with white background and orange text as the CTA button in the first section (under the "Better Sharing Brighter Future" heading and paragraph.)

[2021-08-24 13:36] brylie commented on #125
@annatuma notes that the posts (news/blog) page template is farthest from our Figma designs.

[2021-08-24 13:42] brylie commented on #113
I stand corrected:

![image](https://user-images.githubusercontent.com/17307/130627353-086bf367-6277-4bdf-bf5a-08918e2f38ff.png)

[2021-08-24 13:46] brylie commented on #113
Also, the image stagger effect is possible by using a center alignment on the vertical axis of the columns container, although the images still need to display within the parent container:

![image](https://user-images.githubusercontent.com/17307/130627869-cd2b87fc-eb82-472e-af99-1ff634f35b59.png)

Mockup:

![image](https://user-images.githubusercontent.com/17307/130627952-ace90dd1-b5ff-42c3-b963-

[2021-08-25 11:13] brylie opened #141 "Fail gracefully when no main navigation menu is defined"
## Description

The following error is displayed when rendering the `creativecommons-base` theme without a main navigation menu defined:

[code]
## Reproduction

1. install/activate the `creativecommons-base` theme
2. make sure no menu is defined for the Main menu
3. visit the front page
4. See error.

## Expectation

The theme would fail gracefully when no main menu has been defined

[2021-08-31 11:42] brylie commented on #113
Upon looking further into the background color layout bug, I found it to be a somewhat pervasive issue in the WordPress core CSS. There are many block types that have padding applied when the end-user changes the font or background color. I opened an [upstream bug report](https://core.trac.wordpress.org/ticket/54040#ticket, as this issue seems to violate the principle of least astonishment.

[2021-09-01 10:15] brylie commented on #113
## Fourth section
Design reference:
![image](https://user-images.githubusercontent.com/17307/131654379-497a693b-39cb-4673-8d08-abea2e1b55d4.png)

## First attempt
The first idea was to add separate header and paragraph blocks. The header block allows specifying full-width but the paragraph block does not.

![image](https://user-images.githubusercontent.com/17307/131654272-eabf4a9f-cc73-41ab-98b8-f

[2021-09-01 10:52] brylie commented on #113
## Fifth section
The fifth section is a two-column area with yellow background, an image on the left, and an accordion with three sections on the right.

![image](https://user-images.githubusercontent.com/17307/131659010-70c98f41-82c2-4837-900c-40f032b2998c.png)

## `group` element overflow

One thing that was immediately noticeable was that the `paragraph` margin from the previous `grooup` block

[2021-10-07 09:59] #106 closed

[2022-02-02 19:00] TimidRobot opened #179 "[Feature] Release a new version"
## Problem
1. Production/Staging installation is done via composer
2. composer uses releases
3. current release is grossly outdated

## Description
Release a new version

## Additional context
- "External" Composer version numbers **must** be prefixed with `v` (ex. `v0.1.0`)
  - [Versions and constraints - Composer](https://getcomposer.org/doc/articles/versions.md)
  - Git Tags
  - GitHub Releases

[2022-02-03 08:35] brylie commented on #179
Release v2022.2.1: https://github.com/creativecommons/creativecommons-base/releases/tag/v2022.2.1

[2022-02-04 12:07] brylie commented on #179
Reopening this to fix some metadata issues and include a pull request that was merged today.

[2022-02-04 12:15] brylie commented on #179
I realized that we don't need to include a `version` property in `composer.json` since Composer will look for the Git tag.

https://getcomposer.org/doc/04-schema.md#version

Otherwise, I want to redo the release to include a footer fix and make a proper CalVer tag following our previous tag style.

[2022-02-04 12:17] brylie commented on #179
Here is the corrected release:

https://github.com/creativecommons/creativecommons-base/releases/tag/v2022.02.1

I'll continue releasing new versions of our themes in the follow-up issue: https://github.com/creativecommons/wp-theme-creativecommons.org/issues/32

[2022-02-04 12:17] #179 closed

[2022-02-04 12:23] brylie commented on #179
@all-contributors please add @TimidRobot for bug, projectManagement, infra, review

[2022-02-08 13:49] brylie opened #182 "Navigation menu text is white on white background"
## Description
The navigation menu is not visible due to the text being white on a white background:

![Peek 2022-02-08 15-44](https://user-images.githubusercontent.com/17307/152999662-44af5554-1688-49e2-b41f-b9d84c812d78.gif)

## Reproduction

1. start the development server
2. import the staging content
3. add the CC menu to the `main navigation` menu location
4. view the front page and notice t

[2022-02-08 13:53] brylie opened #183 "Breadcrumb text appears twice"
## Description
The breadcrumb is being rendered twice:

![image](https://user-images.githubusercontent.com/17307/153000637-945fc104-a189-4b9d-9341-66163562570e.png)

## Reproduction
1. start the development server
2. import the staging content
3. set any page as the front page
4. view the front page and notice the breadcrumb is rendered twice

## Expectation

The breadcrumb should only render once

[2022-02-09 01:58] MuluhGodson commented on #182
Hello @brylie
I'll love to open a PR for this.

[2022-02-09 09:26] #182 closed

[2022-02-10 09:03] brylie opened #185 "Create 2022.02.2 release"
We have some minor changes that we would like to release.

## Task

- [ ] change project metadata to indicate version 2022.02.2
- [ ] publish 2022.02.2 release on GitHub

[2022-02-10 09:14] #185 closed

[2022-02-14 07:33] MuluhGodson commented on #183
I think by default, Yoast SEO renders breadcrumbs on pages.
However, we also have some code to display the breadcrumbs. You can find it here: [creativecommons_base/header.php - Line 50](https://github.com/creativecommons/creativecommons-base/blob/main/header.php#L50).

Removing this code will ensure that the breadcrumb only renders once per page.

[2022-02-14 07:57] MuluhGodson commented on #183
Can I be assigned here?

[2022-02-14 07:59] brylie commented on #183
Ok, ideally, it would only be defined in one place and included in all relevant locations, if possible.

[2022-02-14 08:08] MuluhGodson commented on #183
Yes exactly.

[2022-02-14 09:13] #183 closed

[2022-02-14 18:24] MuluhGodson opened #189 "[Bug] Update `creativecommons_base` for Staging environment"
## Description
In the staging environment, Menus are not rendered properly. The menus are rendered as anchor elements (`a`) inside a `ul` element. This is then rendered horizontally causing the menu container to span more than the viewport height.

## Reproduction

1. Login to staging environment
2. See error [Menu container rendered with a height of almost 3000px]

## Expectation
The page should

[2022-02-14 18:37] MuluhGodson commented on #189
Editing the HMTL on the staging environment using Chrome dev tools to look similarly to what is on the local environment results in a better rendering:
![image](https://user-images.githubusercontent.com/40151808/153925511-78450811-32a3-4948-916c-666fb3cb4df4.png)

[2022-02-14 21:15] MuluhGodson opened #190 "Update style and fonts CDN to latest versions"
## Problem
`creativecommons-base` still uses the old vocabulary imports. We have since separated the vocabulary project into three distinct projects and have published these 3 packages individually.
## Description
Update the CDN imports to use the respective latest versions.

## Alternatives
Do nothing

## Implementation

- [x] I would be interested in implementing this feature.

[2022-02-14 21:16] MuluhGodson commented on #190
@brylie Can you assign me here?

[2022-02-15 08:26] brylie commented on #190
@MuluhGodson, assigned :-)

[2022-02-15 08:31] brylie commented on #189
@MuluhGodson, the staging server should be using the 2022.02.2 release, correct?

https://github.com/creativecommons/creativecommons-base/releases/tag/v2022.02.2

[2022-02-15 08:32] MuluhGodson commented on #189
Yes, Exactly.

[2022-02-15 08:46] brylie commented on #189
Ping @TimidRobot

[2022-02-17 08:18] #190 closed

[2022-02-17 08:21] brylie commented on #189
@TimidRobot, is there some documentation we can use to guide us through the process of updating WordPress core or a plugin and redeploying via SaltStack?

[2022-02-20 12:45] MuluhGodson opened #193 "[Feature] Consider removing Bulma CDN"
## Problem
We already compile most (if not all) of Bulma into `vocabulary-styles`. Adding Bulma CDN to projects with `vocabulary-styles` makes the CSS redundant and a tard annoying to work through problems involving the CSS.
cc @brylie

[2022-02-21 08:15] brylie commented on #193
This seems like a good idea. How much work would it entail to remove the Bulma CDN import? Is this just a matter of removing the CDN link, or would we need to include other aspects of Bulma in the Vocabulary Styles package?

[2022-02-21 09:19] MuluhGodson commented on #193
The only thing we need to do is remove the CDN link.

[2022-02-21 09:31] brylie commented on #193
OK, let's go ahead and include that in the MVP or Staging milestone, as needed.

[2022-02-21 12:58] MuluhGodson commented on #193
@brylie I am unable to self-assing. But I have opened a PR.

[2022-02-21 14:27] #193 closed

[2022-03-04 07:46] brylie opened #200 "Determine how best to remove the 24px margin from default page template"
The default page template currently has a `container` class that adds 24px of bottom margin. This causes an empty white bar to appear between the page content and the footer.

We added the `content` class with the idea that it would cause normal HTML elements to behave as expected, since Bulma contains a `minireset.css` that removes HTML default styles like margin and padding.

It is worth conside

[2022-10-09 16:39] charlesjman commented on #200
I will like to work on this

[2022-10-11 13:19] JeffyDave commented on #200
I feel this is an issue that I would love to work on, please can this be assigned to me?

[2022-10-13 02:32] JeffyDave commented on #200
Hi @charlesjman have you started working on this issue if you have I might be able to help.

[2022-10-13 15:31] JeffyDave commented on #200
@possumbilities @TimidRobot Can this be assigned to me, as I would love to contribute to this.